
/*
  Author: Rina Chua
  Date: 24 Sep 2021
*/

@import 'common/font.scss';
@import 'common/variable.scss';

body {
  font-family: $Roboto;
  background-color: $background-color;
  margin: 90px 0 40px 0;
  min-width: 1280px;
}
