/*
  Author: Rina Chua
  Date: 29 Oct 2021
*/

@import 'common/font.scss';
@import 'common/variable.scss';

.buttonWrapper {
    > button {
        display: flex;
        justify-content: flex-end;
        float: right;
    }
}

.inputWrapper{
  margin: 0 10px;
  >li {
      display: block;
      margin: 20px auto;
      >div{
          width: 100%;
      }
  }
}

.btnWrapper {
  width: 100%;
}