/*
  Author: Rina Chua
  Date: 24 Sep 2021
*/

$primary-color: #3975EA;
$white-color: #FFFFFF;
$light-blue-color: #DCE5F2;
$light-grey-color: #F5F5F5;
$border-color: #E0E0E0;
$grey-color: grey;

$background-color: $light-grey-color;

$rating-color: #FDCC0D;

$error: #FF5630;
$warning: #FFAB00;
$success: #060706;
$info: #00B8D9;

$font-small: 14px;
$font-normal: 16px;
$font-medium: 18px;
$font-title: 20px;
$font-large: 25px;
$font-xlarge: 30px;