/*
  Author: Rina Chua
  Date: 24 Sep 2021
*/

@import 'common/font.scss';
@import 'common/variable.scss';

.card {
    width: 80%;
    margin: 0 auto;
}

.topTitle {
    font-family: $Open-Sans;
    font-size: $font-xlarge;
    text-align: center;
    font-weight: 500;
    color: $primary-color;
}

.title {
    font-family: $Open-Sans;
    font-size: $font-large;
    text-align: center;
    font-weight: 500;
    color: $primary-color;
}

.tabWrapper {
    color: $primary-color;
    font-family: $Open-Sans;
    font-size: $font-title;
    margin: 10px auto 0 auto;
}

.inputWrapper {
    margin: 0 auto;
    >li {
        display: block;
        margin: 40px auto 20px auto;
    }
}

.btnWrapper {
    min-width: 350px;
    width: 350px;
}

img {
    width: 80%;
    height: auto;
}