/*
  Author: Rina Chua
  Date: 24 Sep 2021
*/

$primary-color: #0F146D;
$background-color: 'linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%)';

$error: #ff5630;
$warning: #ffab00;
$success: #36b37e;
$info: #00b8d9;

$font-small: 14px;
$font-normal: 16px;
$font-medium: 18px;
$font-title: 20px