/*
  Author: Rina Chua
  Date: 24 Sep 2021
*/

$primary-color: #EB5328;
$light-primary-color: #F9DDCE;
$white-color: #FFFFFF;
$light-grey-color: #F5F5F5;

$background-color: $light-grey-color;

$error: #ff5630;
$warning: #ffab00;
$success: #36b37e;
$info: #00b8d9;

$font-small: 14px;
$font-normal: 16px;
$font-medium: 18px;
$font-title: 20px;
$font-large: 25px;
$font-xlarge: 30px;